:root{
    /* Primary */
    --orange: #ff7d1a;
    --paleOrange: hsla(25, 100%, 94%, 0.567);

    /* Neutral */
    --veryDarkBlue: hsl(220, 13%, 13%);
    --darkGrayishBlue: hsl(219, 9%, 45%);
    --grayishBlue: hsl(220, 14%, 75%);
    --lightGrayishBlue: hsl(230, 75%, 97%);
    --white:#ffffff;
    --black:#000000;

    /* Font */
    --primaryFont: "Kumbh Sans", serif;
}

*,*::before,*::after{
    box-sizing: border-box;
}

h1,h2,h3{
    font-family: var(--primaryFont);
}
p,a{
    font-size: 16px;
    font-family: var(--primaryFont);
    margin: 0px;
    padding: 0px;
}

img{
    display: block;
}
